body, html, * {
    font-family: "Lora"
}
body {
    background: #efebe9;
    font-size:1.25rem;
}
.card-header {
    background: transparent;
    font-size:.8rem;
  
}

.card-header a, .card-header,.card-header h5,.card-title {
    font-family: "Karla" !important;
    text-transform: uppercase;

}
.card-header h5 {
    font-size:1.8rem;
}
.card-title {
    font-size:1.67rem;
}
.accolade-name {
    font-weight: 700;
}
.organization {
    font-family: "Lora";
    font-style: italic;
}
h5.card-title:first-of-type {
    margin-top:0 !important;
}
a {
    color: #79b700 !important;
}
